.hidden {
    visibility: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(255, 241, 165);
    border: 3px dotted red;
}

.instructions {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}